.cursor-pointer{
    cursor: pointer;
}
ul{
    list-style: none;
}
.black_btn{
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
}